body {
    background-size: 100% 100%;
    background-repeat: repeat;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

body#play {
    background-color: #64747c;
}

button {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: auto;
}

button:hover {
    background-color: #4b4b4b;
}

button:active {
    background-color: #252525;
}

input {
    margin-top: 5%;
    width: 50%;
    height: 15%;
    font-size: 120%;
}

/* 8-ball styles */

div.main{
    /* Container */
    width: 70vh;    /* looks best adapt to the view height */
    margin: auto;
    /* Content */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    margin-top: 3vh;    /* serve as spacing between the items. */
}

div.eight-ball {    /* 8-ball container (img + response box) */
    height: 60vh;
    width: 60vh;
}

img.eight-ball {
    max-width: 60vh;
    width: auto;
    max-height: 60vh;
    height: auto;
    border-radius: 50%;     /* make it circular */
}

div.eight-ball.filter {
    /* Position (overlap with the 8-ball img) */
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    transform: translate(0vh, 1.54vh);
    z-index: 3;
    /* Size and Shape (same as the 8-ball img) */ 
    max-width: 60vh;
    width: auto;
    max-height: 60vh;
    height: auto;
    border-radius: 50%;     /* make it circular */
    /* Decoration */
}

div.eight-ball.filter::before {
    content: '';
    /* Position (overlap with the 8-ball img) */
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    /* Size and Shape (same as the 8-ball img) */ 
    max-width: 60vh;
    width: auto;
    max-height: 60vh;
    height: auto;
    border-radius: 50%;     /* make it circular */
    background: radial-gradient(ellipse 90% 80% at 50% 40%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 1) 70%);
}

div.eight-ball.filter::after {
    content: '';
    /* Position (overlap with the 8-ball img) */
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    transform: rotate(-40deg);
    z-index: 4;
    /* Size and Shape (same as the 8-ball img) */ 
    max-width: 60vh;
    width: auto;
    max-height: 60vh;
    height: auto;
    border-radius: 50%;     /* make it circular */
    /* Decoration */
    background: radial-gradient(ellipse 200% 30% at 100% 0%, #ffffff71, rgba(0, 0, 0, 0) 60%);
}

div.eight-ball.shadow {
    /* Position */
    position: absolute;
    left: 0; right: 0;
    transform: translate(0%, -28vh);
    margin: auto;
    z-index: -1;
    /* Decoration */
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 20vh 4vh black;
    /* Size */
    width: 40vh;
    height: 10vh;
}

/* Input and response components styles */

div.input-response {
    /* Position */
    position: absolute;
    transform: translate(50%, 100%);
    /* Size */
    width: 30vw;
    height: 20vh;
}

input.input-response {
    /* Position */
    margin: auto;
    margin-top: 5vh;
    /* Decoration */
    border-radius: 5px;
    /* Size */
    width: 94%;
    height: 5vh;
}

div.answer {
    /* Position */
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 5;
    /* Decoration */
    color: rgb(200, 200, 200);
    background: radial-gradient(circle at 50% 150%, rgb(182, 182, 182) 0%, rgb(81, 81, 81) 10%, rgba(25,25,25,1) 60%);
    border-radius: 20vh;    
    /* Size */
    width: 38vh;
    height: 20vh;
    /* Content */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3.2vh;
    line-height: 4vh;
    text-shadow: 0px 3px 4px rgb(150, 150, 150);
}

div.answer.border {
    content: '';
    /* Position */
    transform: translateY(2%);
    z-index: 4;
    /* Decoration */
    background: linear-gradient(0deg, rgb(80, 80, 80) 0%, rgba(47,47,47,1) 10%, rgba(25,25,25,1) 100%);
    /* Size */
    width: 40vh;
    height: 21vh;
}

div.answer.inner {
    content: '';
    /* Position */
    transform: translateY(2%);
    /* Decoration */
    background: radial-gradient(circle at 50% 80%, rgb(98, 98, 98) 0%, rgba(47,47,47,1) 70%, rgba(25,25,25,1) 100%);
    /* Size */
    width: 40vh;
    height: 21vh;
}